html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* スクロールバーを消すために必要 */
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /* 残りのスペースを埋める */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stamping__main {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background-color: #edeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stamping-form__heading {
    padding: 20px 0;
    text-align: center;
}

.stamping-form__submit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

button {
    height: 170px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
